* {
    padding: 0;
    margin: 0;
}

header {
    text-align: center;
}

header h1 {
    font-size: 60px;
    font-family: 'Courier New', Courier, monospace;
}

header p {
    font-size: 22px;
}
ul li {
    list-style: none;
}
ul .des {
    width: 300px;
    height:70px;
    background-color: #b547b5;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    box-shadow: 2px 4px 4px #b547b5;
    cursor: pointer;
    color: white;
    transition: 0.6s;
}

.des:hover {
    background-color: rgb(122, 122, 250);
    box-shadow: 2px 4px 10px rgb(122, 122, 250);
    transform: translateY(-5px);
}